<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>todo crud - add todo</title>
  </head>
  <body>


    <form autocomplete="off" >
      <input autocomplete="false" name="hidden" type="text" style="display:none;">
      <fieldset>
        <legend>歡迎使用排課系統</legend>
        
       


        
        <input type ="button" onclick="javascript:location.href='/user/loginpage'" value="註冊">  </input>  <input type ="button" onclick="javascript:location.href='/user/loginpage'" value="登入"></input>
      </fieldset>
    </form>


  </body>
</html>



</html>