<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>todo crud - add todo</title>
  </head>
  <body>


    <form autocomplete="off" >
      <input autocomplete="false" name="hidden" type="text" style="display:none;">
      <fieldset>
        
        
       
    

        
        <input type ="button" onclick="javascript:location.href='/user/signuppage'" value="排課">  </input>  <input type ="button" onclick="javascript:location.href='/user/loginpage'" value="選課"></input> <input type ="button" onclick="javascript:location.href='/user/loginpage'" value="畢審"></input>
      </fieldset>
    </form>


  </body>
</html>



</html>

